@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f05ed4fc66d83d678e3e973b162206b2") format("truetype"),
url("./flaticon.woff?f05ed4fc66d83d678e3e973b162206b2") format("woff"),
url("./flaticon.woff2?f05ed4fc66d83d678e3e973b162206b2") format("woff2"),
url("./flaticon.eot?f05ed4fc66d83d678e3e973b162206b2#iefix") format("embedded-opentype"),
url("./flaticon.svg?f05ed4fc66d83d678e3e973b162206b2#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-eye:before {
    content: "\f101";
}
.flaticon-male-user-shadow:before {
    content: "\f102";
}
.flaticon-office-push-pin:before {
    content: "\f103";
}
.flaticon-magnifying-glass:before {
    content: "\f104";
}
.flaticon-notepad:before {
    content: "\f105";
}
.flaticon-notes:before {
    content: "\f106";
}
.flaticon-user:before {
    content: "\f107";
}
.flaticon-add:before {
    content: "\f108";
}
.flaticon-right-arrow:before {
    content: "\f109";
}
.flaticon-telegram:before {
    content: "\f10a";
}
.flaticon-up-arrow-angle:before {
    content: "\f10b";
}
.flaticon-dashboard:before {
    content: "\f10c";
}
.flaticon-logout:before {
    content: "\f10d";
}
.flaticon-call:before {
    content: "\f10e";
}
.flaticon-envelope:before {
    content: "\f10f";
}
.flaticon-pin:before {
    content: "\f110";
}
